@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello,Bienvenidos al proyecto del segundo parcial de Jose Miguel Bonilla !</h1>

Este proyecto consiste en un Sistema para una empresa dedicada a los frutos secos, donde cada caja pesa 1lb. de producto mixto.

